.hello{
    display: flex;
    /* border: 20px solid green; */
    gap: 20px;
}
body{
    background-color: yellow;
}
.div1{
    background-color: aqua;
    height: 300px;
    width: 300px;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREPjkXzRDtGFCTIvCFOiwCriRvT1iJ1Sj9-AG2Ms7RLCIhyBmvPflYGC0GxWGwAMLt9yY&usqp=CAU'); 
}
.div2{
    background-color: blue;
    height: 300px;
    width: 300px;
    position: absolute;
    top: 310px;
}
.div3{
    background-color:hotpink;
    height: 300px;
    width: 300px;
}
.div4{
    background-color:darkorange;
    height: 300px;
    width: 300px;
}