.first{ 
   
    color:  rgb(0, 255, 76);
    position: relative;
    top: 200px;
}
a{
    font-size: 25px;
}
.second{
    background-color:  brown;
    height: 200px;
    width: 200px;
    position: relative;
    top: 2px;
}